.educations_container {
    border: 2px solid black;
    display: flex;
    align-items: center;
    text-align: center;
}
.create {
    border: 1px solid green;
    width: 30%;
    margin: 2vh;
    padding: 15px;
}
.ed-list {
    border: 1px solid blue;
    width: 60%;
    margin: 2vh;
    padding: 15px;
}
.createForm{
    width: auto;
}
.createForm input {
    background-color: none;
    text-align: center;
    border: 1px solid grey;
    width: 70%;
    border-radius: 20% 0 20% 0;
}
.createForm button, .showBtn {
    border: none;
    font-size: large;
    color: gray;
}
.createForm button:hover, .showBtn:hover {
   font-size: larger;
}

