.educations_container {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    border: solid 2px green;
    margin-top: 3vh;
    height: auto;
    padding: 15px;
}
.create {
    position: relative;
    height: auto;
    border: solid 1px blue;
    margin: 1vh 2vh;
    padding: 20px;

}
.ed-list {
    margin: 1vh 2vh;
    padding: 15px;
    width: 60%;
    border: solid 1px red;
}
li{
    list-style-type: disc;
}
.list {
    flex-direction: column;
}

