.educations_container {
    border: 2px solid black;
    display: flex;
    align-items: center;
    text-align: center;
}
.create {
<<<<<<< HEAD
    position: relative;
    height: auto;
    border: solid 1px blue;
    margin: 1vh 2vh;
    padding: 20px;

}
.ed-list {
    margin: 1vh 2vh;
    padding: 15px;
=======
    border: 1px solid green;
    width: 30%;
    margin: 2vh;
    padding: 15px;
}
.ed-list {
    border: 1px solid blue;
>>>>>>> c3c0d16b7e5f53628ed16631516b556c6ebd89ec
    width: 60%;
    margin: 2vh;
    padding: 15px;
}
.createForm input {
    background-color: none;
    text-align: center;
    border: 1px solid grey;
    width: 70%;
    border-radius: 20% 0 20% 0;
}
.createForm button, .showBtn {
    border: none;
    font-size: large;
    color: gray;
}
.createForm button:hover, .showBtn:hover {
   font-size: larger;
}

